@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  gap: 2px;
}
.embla__slide {
  flex: 0 0 auto;
  display: flex;
  padding-top: 177px;
  justify-content: center;
  align-items: center;
  min-width: 0;
  max-height: 80px;
}
